body{
    
    display: flex;
    background-color: black;
    overflow: hidden;
 }


 .content{
    max-height: 100%;
    max-width: 50%;
    background-color: white;
    display: block;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 80px;
    text-align: center;
 }

 .text img{
    max-width: 50%;
 }

 .menu_top{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: rgb(163, 163, 163);
    position: absolute; /* Set the navbar to fixed position */
    top: 0px;
    width: 48.5%;
 }
.menu_top a:hover {
    background: rgb(216, 20, 101);

}

.menu_top.transform{
    position: fixed;

}
 .menu_bottom{
     display: flex;
     justify-content: space-between;
     padding: 10px;
     background-color: rgb(163, 163, 163);
     position: fixed; /* Set the navbar to fixed position */
     bottom: 0; 
     width: 48.5%;
    }


 .menu_bottom a:hover {
    background: rgb(216, 20, 101);
  }

  .menu_bottom.hide{
      transition: all 1.5s;
      bottom: -30px;
  }

  a{
      padding: 20px;
  }
