body{
    
    display: flex;
    background-color: black;
    
 }


 .content{
    max-height: 100%;
    max-width: 50%;
    background-color: white;
    display: block;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 0px;
    text-align: center;
 }

 .text img{
    max-width: 50%;
 }

 .menu_top{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: rgb(163, 163, 163);
    position: absolute; /* Set the navbar to fixed position */
    top: 0px;
    width: 48.5%;
 }
.menu_top a:hover {
    background: rgb(216, 20, 101);

}

.menu_top.show_down{
    position: fixed;

}

.menu_top.hide_up{
    transition: all 3s;
    top: -100px;
}

 .menu_bottom{
     display: flex;
     justify-content: space-between;
     padding: 10px;
     background-color: rgb(163, 163, 163);
     position: fixed; /* Set the navbar to fixed position */
     bottom: 0; 
     width: 48.5%;
    }


 .menu_bottom a:hover {
    background: rgb(216, 20, 101);
  }

  .menu_bottom.transform_up{
    position: fixed;

}
  .menu_bottom.hide_down{
      transition: all 3s;
      bottom: -100px;
  }

  a{
      padding: 20px;
  }
